:root {

    font-size: 18px;

.container__summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: var(--padding-xb);
    height: 50%;
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--color-White);

    @media screen and (min-width:767px) {
        width: 365px;        
        height: 512px;
        border-radius: var(--border-radius-summary);
        box-shadow: 5px 5px 10px var(--color-pale-blue);
        padding: 1.75rem var(--padding-m);

    }
}

.container__summary__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container__summary__parameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--gap-s);
}

.summary__title {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    color: var(--color-dark-gray-blue);
    margin-bottom: var(--margin-b);
}

.summary__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#data .summary__item:nth-child(1) {
    background-color: var(--color-background-light-red);
    border-radius: var(--border-radius-card);
}

#data .summary__item:nth-child(1) h3 {
    color: var(--color-light-red);
    font-weight: var(--font-weight-medium);
}

#data .summary__item:nth-child(2) {
    background-color: var(--color-background-orangey-yellow);
    border-radius: var(--border-radius-card);
}

#data .summary__item:nth-child(2) h3 {
    color: var(--color-orangey-yellow);
    font-weight: var(--font-weight-medium);
}

#data .summary__item:nth-child(3) {
    background-color: var(--color-background-green-teal);
    border-radius: var(--border-radius-card);

}

#data .summary__item:nth-child(3) h3 {
    color: var(--color-green-teal);
    font-weight: var(--font-weight-medium);
}

#data .summary__item:nth-child(4) {
    background-color: var(--color-background-cobalt-blue);
    border-radius: var(--border-radius-card);
}

#data .summary__item:nth-child(4) h3 {
    color: var(--color-cobalt-blue);
    font-weight: var(--font-weight-medium);
}

.summary__item__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius-card);
    padding: 0.5rem;
    width: 81.2vw;
    height: 3rem;

    @media screen and (min-width:767px) {
        width: 16rem;

    }
}


.item__info__description {
    display: flex;
    gap: 16px;
}

.item__info__description > h3 {
    color: var(--color-light-red);
    font-weight: var(--font-weight-medium);
}

.item__info__description > h3 {
    color: var(--color-orangey-yellow);
    font-weight: var(--font-weight-medium);
}

.item__info__description > h3 {
    color: var(--color-green-teal);
    font-weight: var(--font-weight-medium);
}

.item__info__description > h3 {
    color: var(--color-cobalt-blue);
    font-weight: var(--font-weight-medium);
}

.summary__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark-gray-blue);
    width: 81.2vw;
    height: 3rem;
    border-radius: var(--border-radius-button);
    margin-top: 15px;

    @media screen and (min-width:767px) {
        width: 17rem;
        margin-top: 0;
    }


}
.summary__button__link{
    text-align: center;
    text-decoration: none;
    color: var(--color-pale-blue);
}

.summary__button:hover,
.summary__button:focus {
    cursor: pointer;
    background: var(--background-results);
}

.description__text > strong {
    font-weight: var(--font-weight-extrabold);
}
}