:root {

    font-size: 18px;

.container__summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: var(--padding-xb);
    height: 50%;
    width: 100vw;
    background-color: var(--color-White);

    @media screen and (min-width:767px) {
        width: 50%;
        height: 100%;
        border-radius: var(--border-radius-summary);
        box-shadow: 5px 5px 10px var(--color-pale-blue);
        padding: 1.75rem var(--padding-m);

    }
}

.container__summary__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container__summary__parameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--gap-s);
}

.summary__title {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    color: var(--color-dark-gray-blue);
    margin-bottom: var(--margin-b);
}

.summary__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.summary__item__reaction,
.summary__item__memory,
.summary__item__verbal,
.summary__item__visual {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius-card);
    padding: 0.5rem;
    width: 81.2vw;
    height: 3rem;

    @media screen and (min-width:767px) {
        width: 16rem;

    }
}
.summary__item__reaction {
    background-color: var(--color-background-light-red);
}

.summary__item__memory {
    background-color: var(--color-background-orangey-yellow);
}

.summary__item__verbal {
    background-color: var(--color-background-green-teal);
}

.summary__item__visual {
    background-color: var(--color-background-cobalt-blue);
}
.item__reaction__description,
.item__memory__description,
.item__verbal__description,
.item__visual__description {
    display: flex;
    gap: 16px;
}

.item__reaction__description > h3 {
    color: var(--color-light-red);
    font-weight: var(--font-weight-medium);
}

.item__memory__description > h3 {
    color: var(--color-orangey-yellow);
    font-weight: var(--font-weight-medium);
}

.item__verbal__description > h3 {
    color: var(--color-green-teal);
    font-weight: var(--font-weight-medium);
}

.item__visual__description > h3 {
    color: var(--color-cobalt-blue);
    font-weight: var(--font-weight-medium);
}

.summary__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark-gray-blue);
    width: 81.2vw;
    height: 3rem;
    border-radius: var(--border-radius-button);
    margin-top: 15px;

    @media screen and (min-width:767px) {
        width: 18rem;
        margin-top: 10px;
    }


}
.summary__button__link{
    text-align: center;
    text-decoration: none;
    color: var(--color-pale-blue);
}

.description__text > strong {
    font-weight: var(--font-weight-extrabold);
}
}